<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/header')%>
            <!-- <<<< Main >>>> -->

            <main class="main-container">

            

                    <div class="profile-account">

                        <h1 class="title">My Account</h1>
                        <h2 class="title"><%= locals.userLogged.firstName %></h2>
                            <div class="userImg">
                        <img src="/img/usersImg/<%= locals.userLogged.avatar %> " alt="">
                            </div>
                        <form action="/user/logout" method="post">
                            <button class="send" href="/user/Logout"> Logout </button>
                        </form>
                        <a href="/user/editUser/ <%= locals.userLogged.userId %> "><i class="fas fa-pencil-alt"></i></a> 
                    </div>




            </main>

            <!-- <<<< footer >>>> -->
            <%- include('../partials/footer') %>
    </body>

</html>