<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>

<body>
    <!-- header -->
    <%- include('../partials/header')%>

    <!-- MAIN REGISTER -->
    <main class="main-container">
        <!-- =====REGISTER===== -->
        <div class="form-login-register">
            <div class="seccion-account1">
                <!-- <div class="register-header"> -->
                <h1 class="title">Create your account</h1>
                <p>Create your own MeckDesign account today. It makes shopping smoother and faster, while also
                    earning you reward points on every purchase.</p>
                <!-- </div> -->
                <form action="/user/register" method="post" enctype="multipart/form-data" id="registerForm" class="form-button">
                    
                    <% if (locals.errors && errors.firstName) { %>
                    <div class="text-danger">
                        <%= errors.firstName.msg %>
                        
                    </div>
                    <% } %>
                    
                    <span></span>
                    <input type="text" name="firstName" id="firstName" placeholder="First Name"
                        class="form-fields<%= locals.errors && errors.firstName ? '-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.firstName : null %>">
                    <span></span>
                    <% if (locals.errors && errors.lastName) { %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %>
                        
                    </div>
                    <% } %>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name"
                        value="<%= locals.oldData ? oldData.lastName : null %>"
                        class="form-fields<%= locals.errors && errors.lastName ? '-invalid' : null %>">
                    
                    <label for="avatar">Upload your avatar</label>
                    <br>
                    <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                        <%= errors.avatar.msg %>
                    </div>
                    <% } %>
                    <span></span>
                    <input class="form-fields<%= locals.errors && errors.avatar ? '-invalid' : null %>" type="file"
                        id="avatar" name="avatar" placeholder="Avatar">

                    <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                    
                    <% } %>
                    <% if (locals.userAlreadyRegistered) { %>
                    <div class="text-danger">
                        This email is already registered
                    </div>
                    <% } %>
                    <span></span>
                    <input type="email" name="email" id="email" placeholder="Email Address"
                        value="<%= locals.oldData ? oldData.email : null %>"
                        class="form-fields<%= locals.errors && errors.email ? '-invalid' : null %>">

                    <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                    <span></span>
                    <input type="password" name="password" id="password" placeholder="Password"
                        value="<%= locals.oldData ? oldData.password : null %>"
                        class="form-fields<%= locals.errors && errors.password ? '-invalid' : null %>">

                    <div class="terms"><input type="checkbox" name="terms" id="terms" value="terms"><label for="terms">I
                            have read and agreed to <a href="#">terms & conditions</a></label></div>
                    <div><button type="submit" class="send">Create your account</button>
                    </div>
                </form>
                    <div class="anchor-links"><a href="/">Return to store</a></div>
            </div>
            <!-- ======LOGIN====== -->
            <div class="seccion-account2">

                <h1 class="title">Already have an account?</h1>
                <p>Access it now to save time when you shop.</p>

                <form action="/user/login" method="get">
                    <button type="submit" class="redirect-btn">Sign in here</button>
                </form>
            </div>
        </div>
        </div>
    </main>
    <!-- ======FOOTER====== -->
    <%- include('../partials/footer') %>

   <script src="/js/register.js"></script>
</body>

</html>