<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head')%>
<body>
<!-- header -->
<%- include('../partials/header')%>

<main>

        <div class="banner2">
            <img id="image" src="/img/minimal_table-768x484.jpeg" >
        </div>
        <div class="other-product-text">
            <a href="/products/list">
                <h2>Products</h2>
            </a>
        </div>
        <!-- <h3>Products by category</h3> -->
        <div class="filterConteiner"">
        <div class=<%= locals.imInByRoom && locals.byRoom ? "filterCategories" : "displayNone" %>>
        <h3>Filter By Room</h3>
        <form class="filterCategories"id="selects"  action="/products/byRoom" method="GET">
            <div id="categorySearch">
            <select name="searchByRoom" id="select">
                <% for( let i = 0; i < byRoom.length; i++ ) { %>
                    <% if (locals.roomQuery && locals.roomQuery == byRoom[i].id) { %>
                        <option value="<%=locals.roomQuery%>" selected><%= byRoom[(Number(locals.roomQuery)-1)].room%></option>
                        <% } else { %>
                            <option value="<%= byRoom[i].id%>" ><%= byRoom[i].room%></option>
                        <% } %>
                <% } %>
            </select>
            <button type="submit" id="selectButton"><i class="fas fa-search"></i></button>
        </div>
        </form>
         </div>
        <div class=<%= locals.imInByTexture && locals.byTexture ? "filterCategories" : "displayNone" %>>
        <h2>Filter By Texture</h2>
        <form  class="filterCategories"action="/products/byTexture" method="GET">
            <div id="categorySearch">
        <select name="searchByTexture" id="select">
            <% for( let i = 0; i < byTexture.length; i++ ) { %>
                <% if (locals.textureQuery && locals.textureQuery == byTexture[i].id) { %>
            <option value="<%=locals.textureQuery%>" selected><%= byTexture[(Number(locals.textureQuery)-1)].texture%></option>
            <% } else { %>
                <option value="<%= byTexture[i].id%>" ><%= byTexture[i].texture%></option>
            <% } %>
            <% } %>

        </select>
        <button type="submit" id="selectButton"><i class="fas fa-search"></i></button>
    </div>
        </form>
    </div>
</div>
        <section class="product-list-section">
<% for( let i = 0; i < products.length; i++ ) { %>
    <article class="product-list-article">
        <a href="/products/detail/<%= products[i].id %>">
            <div class="product-list-image">
                <img src= "/img/products/<%=products[i].image%>"  alt="Product">
                <p class="text-image">VIEW PRODUCT</p>
            </div>
            <div class="other-product-detail">
                <h3 class="other-title-product">
                    <%= products[i].name %> </h3>
                <p class="other-product-price">
                   $<%= products[i].price %> </p>
                    
            </div>

    </article>
<% } %>
</section>
</main> 
<!-- footer -->
<%- include('../partials/footer')%>
<script src="/js/products.js"></script>
</body>
</html>