<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head')%>
<body>
<!-- header -->
<%- include('../partials/header')%>

<main>

        <div class="banner2">
            <img src="/img/inspo/minimal_table-768x484.jpg" >
        </div>
        <div class="other-product-text">
            <a href="/products">
                <h2>Products</h2>
            </a>
        </div>
        <section class="product-list-section">
<% for( let i = 0; i < products.length; i++ ) { %>
    <article class="product-list-article">
        <a href="/products/detail">
            <div class="other-product-image">
                <img src= <%=products[i].img%>  alt="Product">
                <p class="text-image">VIEW PRODUCT</p>
            </div>
            <div class="other-product-detail">
                <h3 class="other-title-product">
                    <%= products[i].name %> </h3>
                <p class="other-product-price">
                   <%= products[i].price %> </p>
                    
            </div>

    </article>
<% } %>
</section>

</main> 
<!-- footer -->
<%- include('../partials/footer')%>
</body>
</html>