<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('../partials/head')%>
<body>
   <!-- header -->
   <%- include('../partials/header')%>
    <main>
        <!-- Product Detail-->
        <section class="product-detail-section">
            <article class="product-detail-article">
                <div class="product-detail-image">

                    <img src="/img/products/<%=products[id].img%>" alt="Product">
                </div>
                <div class="product-detail-info">
                    <div class="product-detail">
                        <div class="edit-product">
                        <h2 class="title-product" >
                            <%= products[id].name %>  </h2>
                           <a href="/products/edit/<%= products[id].id %> "><i class="fas fa-pencil-alt"></i></a> 
                           <form action="/products/list/<%= products[id].id%>?_method=DELETE" method="post">
                          <button class="borrar" type="submit" > <i class="fas fa-trash-alt"></i></button>
                           </form>

                        </div>
                        <p class="product-price">
                            $<%= products[id].price %> </p>

                    </div>
                    <div class="description-product">
                        <p><%= products[id].description %> </p>
                    </div>
                    <!-- <div> -->
                        <form class="form-shopping" action="" method="post">
                            <div class="quantity">
                                <label>Qty</label>
                                <select name="cantidad" id="1" class="quantity-button1">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>

                                </select>
                            </div>
                            <div class="cart-button"></div>
                            <input type="submit" value="Add to Cart" class="add-to-cart">
                    <!-- </div> -->

                    </form>
                </div>
                </div>
            </article>

        </section>
        <!-- Other Products-->
        <%- include('../partials/otherProducts')%>
    </main>
    <!-- footer -->
    <%- include('../partials/footer')%>
</body>

</html>