<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('../partials/head')%>
<body>
   <!-- header -->
   <%- include('../partials/header')%>
    <main>
        <!-- Product Detail-->
        <section class="product-detail-section">
            <article class="product-detail-article">
                <div class="product-detail-image">

                    <img src="/img/products/<%=product.image%>" alt="Product">
                </div>
                <div class="product-detail-info">
                    <div class="product-detail">
                        <div class="edit-product">
                        <h2 class="title-product" >
                            <%= product.name %>  </h2>
                            <% if (locals.isUserAdmin) { %>
                           <a href="/products/edit/<%= product.id %> "><i class="fas fa-pencil-alt"></i></a> 
                           <form action="/products/list/<%= product.id%>?_method=DELETE" method="post">
                          <button class="borrar" type="submit" > <i class="fas fa-trash-alt"></i></button>
                           </form>
                           <% } %>
                        </div>
                        <p class="product-price">
                            $<%= product.price %> </p>

                    </div>
                    <div class="description-product">
                        <p><%= product.description %> </p>
                    </div>
                    <div class="description-product">
                        <% if (product.color) { %>
                            
                            <h4>Color:</h4>
                        
                            <% for( let i = 0; i < product.color.length; i++ ) { %>
                                <span> <%= product.color[i].color %> </span>
                            
                            <% } %>
                         
                        <% } %>
                    </div>
                    <div class="description-product">
                        <% if(product.byRoom){ %>
                            <h4>Room:</h4>
                        <span><%= product.byRoom.room %> </span>
                       <% } %> 
                    
                    </div>
                    <div class="description-product">
                        <% if (product.byTexture) { %>
                            <h4>Texture:</h4>
                        <span> <%= product.byTexture.texture %> </span>
                            <%}%>
                        </div>
                    <!-- <div> -->
                        <form class="form-shopping" action="" method="post">
                            <div class="quantity">
                                <label>Qty</label>
                                <select name="cantidad" id="1" class="quantity-button1">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>

                                </select>
                            </div>
                            <div class="cart-button"></div>
                            <input type="submit" value="Add to Cart" class="add-to-cart">
                    <!-- </div> -->

                    </form>
                </div>
                </div>
            </article>

        </section>
        <!-- Other Products-->
        <%- include('../partials/otherProducts')%>
    </main>
    <!-- footer -->
    <%- include('../partials/footer')%>
</body>

</html>