<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head')%>
<body>
     <!-- header -->
     <%- include('../partials/header')%>
     <!--main  -->
<main>

     <main class="main-container-create">

          <div class="form-group-create">


              <h1 class="title">Edit the product <%= theProduct.name %> </h1>
              
              <form class="form-button" action="/products/edit/<%= theProduct.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                  <input class="form-fields" type="text" name="name" value="<%= theProduct.name%>" placeholder="New Name" >
                  <br>
                  <input class="form-fields" type="textarea" name="description" value="<%= theProduct.description%>" placeholder="New Description">
                  <br>
                  <label for="img">Upload New Image</label>
                  <input class="form-fields" type="file" name="img" placeholder="Upload Image">
                  <br>
                  <label for="By Room">Select By Room</label>
                  <select class="form-fields" value="By Room" name="categoriesRoom" placeholder="Select By Room">
                      <option value="categories">Living Room</option>
                      <option value="categories">Dinig Room</option>
                      <option value="categories">Kitchen</option>
                  </select>
                  <br>
                  <label for="By Texture">Select By Texture</label>
                  <select class="form-fields" value="By Texture" name="categoriesTexture"
                      placeholder="Select By Texture">
                      <option value="categories">Wood</option>
                      <option value="categories">Fabric</option>
                      <option value="categories">Plastic</option>

                  </select>
                  <br>
                  <label for="price">New Price</label>
                  <input class="form-fields" type="number" value="<%= theProduct.price%>" name="price" step="any" min="1"
                      placeholder="Insert Only Numbers">

                <button class="send" type="submit">Edit</button>
              </form>

          </div>


      </main>

</main>

     <!-- footer -->
     <%- include('../partials/footer')%>
</body>
</html>
