<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head')%>

    <body>
        <!-- header -->
        <%- include('../partials/header')%>
            <!--main  -->
            <main class="main-container-create">

                <div class="form-group-create">


                    <h1 class="title">Create a new product</h1>
                    
                    <form class="form-button" action="/products/list" method="post"  enctype="multipart/form-data">
                        <input class="form-fields" type="text" name="name" placeholder="Product Name" required>
                        <br>
                        <input class="form-fields" type="textarea" name="description" placeholder="Product Description"
                            required>
                        <br>
                        <label for="img">Upload Image</label>
                        <input class="form-fields" type="file" name="img" placeholder="Upload Image" required>
                        <br>
                        <label for="By Room">Select By Room</label>
                        <select class="form-fields"  name="byRoom">
                            <% byroom.forEach(oneRoom => {%>
                            <option value=" <%= oneRoom.id %>"><%= oneRoom.room %></option>
                            <% }) %>
                        </select>
                        <br>
                        <label for="By Texture">Select By Texture</label>
                        <select class="form-fields" name="byTexture">
                            <% bytexture.forEach(onetexture => {%>
                                <option value=" <%= onetexture.id %>"><%= onetexture.texture %></option>
                                <% }) %>
                            

                        </select>
                        <br>
                        <label for="Color">Select Color</label>
                        <select class="form-fields" name="color" multiple>
                            <% color.forEach(oneColor => {%>
                                <option value=" <%= oneColor.id %>"><%= oneColor.color %></option>
                                <% }) %>

                        </select>

                        <br>
                        <label for="price">Product Price</label>
                        <input class="form-fields" type="number" name="price" step="any" min="1"
                            placeholder="Insert Only Numbers" required>

                        <button class="send" type="submit">Submit</button>
                    </form>

                </div>


            </main>
            <!-- footer -->
            <%- include('../partials/footer')%>
    </body>

</html>