<select class="form-fields" name="color" multiple>
    <% for (let i = 0; i < color.length; i++){%>
      <% if (gneros[i].id == product.color.id){ %>
          <option value = "<% = color[i].id" selected>
              <%=color[i].name%>
          </option>
      <% }else{}
        
    }
    <% product.color.forEach(oneColor => {%>
        <option value=" <%= oneColor.id %>"><%= oneColor.color %></option>
        <% }) %>

</select>


<br>
                  <label for="Color">Select Color</label>
                  <select class="form-fields" name="color" multiple>
                    <% for (let i = 0; i < color.length; i++){%>
                      <% if (color[i].id == product.color.id){ %>
                          <option value = "<%= color[i].id%>" selected='selected'>
                              <%=color[i].color%> 
                          </option>
                      <% } else{ %>
                        <option value=" <%= color[i].id %>">
                            <%= color[i].color %></option>
                            <% } %>
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product.color.id %> 
                            
                                <% =color[i].color == product %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i].color ==  %> 
                            
                                <% =color[i] %> 
                            
                                <% =color[] %> 
                            
                                <% =color %> 
                            
                                <% C %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <%  %> 
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                <
                            
                                
                            
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <e lse
                            <e lse
                            <e lse
                            <%e lse
                            <%e lse
                            <%else
                            <%els
                            <%
                            <
                            
                        
                      <%}%>
                        